.nav-link.products {
    color: #9F9F9F;
    font-size: 20px;
    font-weight: 400;
}
.nav-link.products:hover {
    color: var(--hover-color);
    font-weight: 500;
    transform: scale(1.1);
    transition-delay: 70ms;
    transition-duration: 0.3s;
    cursor: pointer;
}
/* Main Start */
.box-card-1-product {
    border-radius: 20px;
    background-color: #88B788;
    height: 110px;
    width: 335px;
}

.box-card-2-product {
    border-radius: 20px;
    background-color: #F5C361;
    height: 110px;
    width: 335px;
}

.box-card-3-product {
    border-radius: 20px;
    background-color: #C59378;
    height: 110px;
    width: 335px;
}

.card-product {
    border-radius: 30px;
}

.card-img-product  {
    width: 225px;
    height: 225px;
}

.badge {
    width: 64px;
    height: 38px;
    background: #FFFFFF;
    border-radius: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #000000;
}

.popup:hover {
    transition-delay: 70ms;
    transition-duration: 0.3s;
    transform: translateY(-15%);
    cursor: pointer;
}

.popup-scale:hover {
    transform: scale(1.1);
    transition-delay: 70ms;
    transition-duration: 0.3s;
    cursor: pointer;
}

/* Main End */

/* styling start*/
.s-1-product {
    font-size: 25px;
    font-weight: 700;
    color: var(--hover-color);
}

.s-2-product {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
}

.s-3-product {
    font-size: 12px;
    color: var(--primary-color);
    line-height: 20px;
}

.s-4-product {
    font-size: 17px;
    font-weight: 700;
    color: var(--hover-color);
}

.s-5-product {
    font-size: 17px;
    font-weight: 400;
    color: var(--hover-color);
}

.card-title-product {
    font-size: 22px;
    font-weight: 900;
    color: var(--carousel-color);
}

.btn-warning.product {
    font-size: 17px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #6A4029;
    border-radius: 20px;
    padding: 18px 107px;
}
.btn-warning.product:hover {
    background-color: #FFBA33;
    color: #6A4029;
    border: #FFBA33;
}

/* styling end */

@media (max-width: 700px) {
    .searchBox.mobile {
        position: absolute;
        width: 137px;
        height: 50px;
        margin-left: 3.8rem;
        margin-top: -3.15rem;
    }
    .searchBox.mobile img {
        position: absolute;
        right: -4.3rem;
        color: #555;
        font-size: 1.5em;
        cursor: pointer;
        width: 59%;
        height: 59%;
    }
    .searchBox.mobile input::placeholder {
        font-size: 13px;
        position: absolute;
        top: 15px;
        right: 50px;
    }
    .form-select.product.mobile {
        font-size: 13px;
        color: var(--carousel-color);
        background-color: var(--panel-color);
        width: 21.5%;
        height: 50px;
        border-radius: 20px;
        margin-left: 16.9rem;
        margin-top: 1rem;
    }
}

/* Expandable search bar start */
.searchBox {
    position: absolute;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    margin-left: 7.3rem;
    margin-top: -3.1rem;
}

.form-select.product {
    color: var(--carousel-color);
    background-color: var(--panel-color);
    width: 20.5%;
    height: 50px;
    border-radius: 20px;
    margin-left: 35.2rem;
    margin-top: 3rem;
}
.form-select.product:hover {
    color: var(--hover-color);
    transition: 1s;
    font-weight: 400;
}

.searchBox input {
    position: absolute;
    width: 172%;
    height: 94%;
    border: 1px solid #ced4da;
    padding: 0px 25px;
    outline: none;
    font-size: 1em;
    border-radius: 20px;
    color: var(--carousel-color);
    background-color: var(--panel-color);
    margin-left: 1.4rem;
}

.searchBox:hover input::placeholder,
.searchBox:hover input {
    color: var(--hover-color);
    transition: 1s;
    font-weight: 400;
}

.searchBox img {
    position: absolute;
    right: -11.3rem;
    color: #555;
    font-size: 1.5em;
    cursor: pointer;
    width: 59%;
    height: 59%;
}

/* Expandable search bar end */

/* pagination */
.page-link {
    color: var(--secondary-color);
    font-size: 18px;
    background-color: var(--panel-color);
}
.page-link:hover {
    color: #555;
}

/* admin only */
.edit-product-admin {
    color: var(--hover-color);
    font-weight: 700;
    font-size: 20px;
    text-decoration: underline;
    line-height: 30px;
}