/* Footer Start */
.pt-footer-global {
    margin-top: 110px;
}

.pt-footer-global a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 400;
}

.footer-global {
    background-color: var(--tersier-color);
}
/* Footer End */