/* Main start */
.hero-history {
    background-image: url(../../assets/history/hero.png);
    background-size: cover;
    height: 1160px;
}

.card-style-history {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    height: 130px;
    width: 394px;
}

.img-product-history {
    width: 170px;
    height: 170px;
    margin-left: -20px;
    margin-top: -10px;
}

.form-check-input {
    width: 25px;
    height: 25px;
    background: #F5F5F8;
    border: 2px solid #6A4029;
    border-radius: 5px;
}

.form-check-position {
    margin-right: 8px;
    margin-top: 16px;
}

/* Main end */

/* Styling start */
.s-1-history {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: var(--secondary-color);
    margin-left: -18px;
}

.s-2-history {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: var(--hover-color);
    margin-left: -18px;
    line-height: 20px;
}

.s-3-history {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: var(--hover-color);
    margin-left: -18px;
    line-height: 0px;
}

.s-4-history {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.s-5-history {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.select-all-history a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.select-all-history a p {
    margin-right: 40px;
}

/* Styling end */

/* Responsive */
@media screen and (max-width: 576px) {
    .hero-history {
        background-image: url(../../assets/history/hero.png);
        background-size: cover;
        height: 210vh;
    }

    .select-all-history a p {
        margin-right: 6.5rem;
    }

    .card-style-history {
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
        border-radius: 20px;
        height: 130px;
        width: 142px;
    }

    .img-product-history {
        width: 100px;
        height: 100px;
        margin-left: -1rem;
        margin-top: -0.1rem;
    }

    .form-check-position {
        margin-right: 0.8rem;
        margin-top: -0.3rem;
    }

    .s-1-history {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        color: var(--secondary-color);
        margin-left: 15px;
    }

    .s-2-history {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        color: var(--hover-color);
        margin-left: -2.8rem;
        line-height: 5px;
    }

    .s-3-history {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        color: var(--hover-color);
        margin-left: -2.8rem;
        line-height: 0px;
    }
}