/* Navbar Start*/
body {
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

.navbar-brand {
    font-weight: 700;
    font-size: 20px;
    color: #0B132A;
}

.nav-link.active {
    font-weight: 700;
    font-size: 16px;
    color: #6A4029;
}

.nav-link {
    font-weight: 400;
    font-size: 16px;
    color: #4F5665;
}

.nav-link:hover {
    border-bottom: 1px solid #6A4029;
}

a {
    text-decoration: none;
}
/* Navbar End */

/* Main Start */
.box-card-1 {
    border-radius: 20px;
    background-color: #88B788;
    height: 110px;
    width: 335px;
}
.box-card-2 {
    border-radius: 20px;
    background-color: #F5C361;
    height: 110px;
    width: 335px;
}
.box-card-3 {
    border-radius: 20px;
    background-color: #C59378;
    height: 110px;
    width: 335px;
}
.card {
    border-radius: 30px;
}
.card img {
    width: 225px;
    height: 225px;
}
.badge {
    width: 64px;
    height: 38px;
    background: #FFFFFF;
    border-radius: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #000000;
}
.popup:hover {
    transition-delay: 70ms;
    transition-duration: 0.3s;
    transform: translateY(-15%);
    cursor: pointer;
}
.popup-scale:hover {
    transform: scale(1.1);
    transition-delay: 70ms;
    transition-duration: 0.3s;
    cursor: pointer;
}
/* Main End */

/* styling start*/
.s-1 {
    font-size: 25px;
    font-weight: 700;
    color: #6A4029;
}
.s-2 {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}
.s-3 {
    font-size: 12px;
    color: #4F5665;
    line-height: 20px;
}
.s-4 {
    font-size: 17px;
    font-weight: 700;
    color: #6A4029;
}
.s-5 {
    font-size: 17px;
    font-weight: 400;
    color: #6A4029;
}
.card-title {
    font-size: 22px;
    font-weight: 900;
    color: #000000;
}
.btn-warning {
    font-size: 17px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #6A4029;
    border-radius: 20px;
    padding: 18px 107px;
}
/* styling end */

/* Footer Start */
.pt-footer {
    margin-top: 110px;
}

footer a {
    text-decoration: none;
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
}
/* Footer End */

/* Expandable search bar start */
.searchBox {
    position: relative;
    width: 65px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.searchBox:hover {
    width: 300px;
}

.searchBox input {
    position: relative;
    width: 100%;
    height: 100%;
    /* border-radius: 20px; */
    border: none;
    padding: 0px 25px;
    outline: none;
    font-size: 1em;
    color: #555;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) */
}

.searchBox input::placeholder,
.searchBox input {
    color: transparent;
}

.searchBox:hover input::placeholder,
.searchBox:hover input {
    color: #555;
}

.searchBox img {
    position: absolute;
    right: 10px;
    color: #555;
    font-size: 1.5em;
    cursor: pointer;
}
/* Expandable search bar end */

/* ===================MODIFIKASI BADGE DARI CDN BOOTSTRAP========================== */

/* Chat Notif Start*/
.start-100 {
    left: 91.3% !important
}

.top-0-notif {
    top: 26% !important
}

.badge-notif {
    --bs-badge-padding-x: 0.65em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 0.375rem;
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);

    height: 20px;
    width: 20px;
    border-top-color: #6A4029;
    border-radius: 360px;
}

.bg-danger-notif {
    color: white;
    padding-left: 6.5px;

    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important
}

/* Chat Notif End  */