/* Navbar Start*/
body {
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

.navbar-brand {
    font-weight: 700;
    font-size: 20px;
    color: #0B132A;
}

.nav-link.active {
    font-weight: 700;
    font-size: 16px;
    color: #6A4029;
}

.nav-link {
    font-weight: 400;
    font-size: 16px;
    color: #4F5665;
}

.nav-link:hover {
    border-bottom: 1px solid #6A4029;
}

a {
    text-decoration: none;
}
/* Navbar End */

/* Footer Start */
.pt-footer {
    margin-top: 110px;
}

footer a {
    text-decoration: none;
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
}
/* Footer End */

/* Main Start */
.hero {
    background-image: url(../img/yourcart/hero.png);
    background-size: cover;
    height: 1141px;
    width: 100vw;
}
.sticky-1 {
    background-color: #FFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    height: 737px;
    width: 487px;
    margin-left: -3px;
}
.sticky-2 {
    background-color: #FFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: 198px;
    width: 454px;
    margin-left: 90px;
}
.sticky-3 {
    background-color: #FFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: 259px;
    width: 454px;
    margin-left: 90px;
}
.btn.btn-primary {
    background-color: #6A4029;
    border-color: #6A4029;
    box-shadow: 0px 10px 20px rgba(137, 85, 55, 0.4);
    border-radius: 20px;
    padding: 20px 140px;
    margin-left: 78px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
.btn.btn-primary:hover {
    background-color: #FFBA33;
    border-color: #FFBA33;
    color: #6A4029;
}
/* Main End */

/* Styling start */
.s-1 {
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
}
.s-2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}
.s-3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #362115;
    padding-top: 70px;
}
.s-4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
.s-5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #362115;
    padding-left: 45px;
}
.s-6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #362115;
    padding-left: 43px;
}
/* Styling end */

/* Expandable search bar start */
.searchBox {
    position: relative;
    width: 65px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.searchBox:hover {
    width: 300px;
}

.searchBox input {
    position: relative;
    width: 100%;
    height: 100%;
    /* border-radius: 20px; */
    border: none;
    padding: 0px 25px;
    outline: none;
    font-size: 1em;
    color: #555;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) */
}

.searchBox input::placeholder,
.searchBox input {
    color: transparent;
}

.searchBox:hover input::placeholder,
.searchBox:hover input {
    color: #555;
}

.searchBox img {
    position: absolute;
    right: 10px;
    color: #555;
    font-size: 1.5em;
    cursor: pointer;
}

/* Expandable search bar end */

/* ===================MODIFIKASI BADGE DARI CDN BOOTSTRAP========================== */

/* Chat Notif Start*/
.start-100 {
    left: 91.3% !important
}

.top-0-notif {
    top: 26% !important
}

.badge-notif {
    --bs-badge-padding-x: 0.65em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 0.375rem;
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);

    height: 20px;
    width: 20px;
    border-top-color: #6A4029;
    border-radius: 360px;
}

.bg-danger-notif {
    color: white;
    padding-left: 6.5px;

    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important
}

/* Chat Notif End  */